<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

  <targets>

    <target xsi:type="File" name="File" fileName="c:\tmp\Logs\ValantInventory.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception}"
            archiveOldFileOnStartup="true"
            archiveFileName="c:\tmp\Logs\Archive\ValantInventory.{####}.log"
            archiveNumbering="DateAndSequence"
            />

  </targets>

  <rules>

    <logger name="*" minlevel="Info" writeTo="File" />
  </rules>
</nlog>